/*
font-family: 'Courgette', cursive; like drawn
font-family: 'Philosopher', sans-serif; for quetes
font-family: 'Work Sans', sans-serif; for basic
*/

.courgette {
    font-family: 'Courgette', cursive;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.philosopher {
    font-family: 'Philosopher', sans-serif;  
}

.hero {
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/b/16/rik-i-morti-rick-and-morty-rick-sanchez-rick-sanchez-morty-2.jpg);
    background-size: cover;
    height: 100vh;
    border-radius: 0.5%;
    display: flex;
}

.container-fluid > a {
    font-family: 'Courgette', cursive;
    font-size: 1.6rem;
}

.nav-item {
    font-size: 1.25rem;
}

.main-text {
    background-color: transparent white;
    color: white;
    align-self: center;
    display: inline-block;
    border-style: solid;
    border-radius: 12px;
    border-width: 1rem;
    border-color: white;
    border-style: double;
    margin: 0 auto 0 auto;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.my-work {
     border-color: LIME;   
    padding-top: 7%;
    padding-bottom: 10%;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-bottom-color: lightcyan;
    border-width: 0.3rem;
}

.box-for-my {
    align-items: center;
}

.mw-img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.my-card-text {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.about-me {
    border-radius: 100px;
    background-color:#d6f3ff;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.biografy {
margin-left: auto;
margin-right: auto;
background-color: lightcyan;
border-radius: 50px;
}


#my-pfp-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 25%;
    padding: 13%;
}

@media (max-width: 1199px)  {
    #my-pfp-img {
        max-width: 65%;
    }

    .biografy > h1 {
        font-weight: bold;
    }
}

.contact-me {
    background-image: url(https://th.bing.com/th/id/OIP.Fp1aZzXLGDgamd-cQlNU-AHaEo?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: right;
    background-color: #242c3b;
    border-radius: 100px;

    
}

.contact-div {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
    padding: 6rem;
}

.contact-img {
    padding: 1rem;
}

.rick-words-div {
    margin-right: auto;
    text-align: right; 
    padding-right: 17%;
    margin-bottom: 3%;
}

.rick-words {
    padding: 4px;
    color: cyan; 
    font-weight: bolder;
    border: 2px solid cyan;
    border-radius: 12px;
    display: inline-block;
}


@media (max-width: 768px)  {
    .contact-me {
        background-size: 70% 60%;
    }

    .rick-words-div {
        padding-right: 10%;
    }
}

@media (max-width: 500px)  {
    .contact-me {
        background-size: 70% 50%;
    }

}
